
h2{
text-align:center;
color:DarkBlue;
border:solid white 1px;
padding-top: 10px;
padding-bottom:10px;

font-style: italic;
font-family: 'Times New Roman', Times, serif;}


ol{
font-size:18px;
font-family: 'Times New Roman', Times, serif;

}
